.navbar{
  color: #27496d;
  background-image: url('head-svg.PNG');
  /* background-color: #00a8cc; */
}
.footer{
  background-image: url('head-svg.PNG');
  padding: 10px;
}
.navbar-brand{
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 50px;
}
/* .navbar-nav{
  font-size: 1.5rem;
  color: black;
  margin-right: 100px;
} */
/* .nav-link{
  margin-right: 50px;
} */


/* .banner{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  padding: 10px;
  color:#424874;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0px 5px 5px;
} */



/*
#carouselExampleIndicators{
    height: 800px;
} */
h1{
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
}
.footer-heading{
  font-size: 20px;
}
@media(max-width:400px) {
  .footer-content{
    font-size: 10px;
  }
}
.carousel{
  display: none;
}

@media(max-width:400px) {
  h1{
    color: black;
    font-size: 30px;
  }
}
.picture{
  float: inherit;
  width: 100%;
  height: auto;
  /* visibility:visible; */
}
@media(max-width:500px) {
  .ppdtpic{
    width:100%;
    height: auto;
  }

}
.reveal-button{
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 0px 5px 10px 0px;
}
.invisible{
  visibility: hidden;
}
.instructions-part-one{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 40px;
}
/* .instruction-part-two{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 40px;
} */
.writing-button{
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 0px 5px 10px 0px;
}
.completed-button{
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 0px 5px 10px 0px;
}
/* .test{
  background-image: linear-gradient(#D50000,#FF1744);
  padding: 200px;
  font-size: 100px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
} */
.timeOver{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(#D50000,#FF1744);
  color: white;
  font-size: 50px;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.reveal{
  border-radius: 20px;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0px 5px 10px 0px;
}
.writing{
  border-radius: 20px;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0px 5px 10px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
@media(max-width:500px) {
  .instructions-part-one{
    font-size: 20px;
    margin: 10px;
  }
  .writing{
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .writing-title{
    font-size: 30px;
  }
  .reveal-button{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 5px 10px 0px;
  }
  .writing-button{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .reveal{
    margin-left: 20px;
    margin-right: 20px;
  }
}
.writing-para{
  margin: 30px;
}
.writing-title{
    margin: 30px;
}
.timer{
  font-size: 4rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
@media(max-width:500px) {
  .timer{
    font-size: 3rem;
  }
}
.btn-time{
  font-size: 3rem;
  text-align: center;
}
.inst-practise-btn{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  box-shadow: 0px 5px 10px 0px;
}
.part-one{
  font-size: 30px;
  font-weight: bold;
}


/* tat-sets */

.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.one{
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  text-align: center;
}
.request-integrity{
  font-size: 30px;
}
.invisibles{
  visibility: hidden;
}
.time-out-invisibles{
  visibility: hidden;
}
.btn-back{
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 5px 10px 0px;
  margin-left: 40px;
}
